<article class="media-block {{item.type}}">

    <!-- Source / Duration -->
    <ul class="source-duration">
        <li class="label label-info">{{item.source}}</li>
        <li data-ng-if="item.duration" class="label label-info">{{item.duration}}</li>
    </ul>

    <!-- Image -->
    <img src="{{item.image}}" alt="{{item.name}}">

    <!-- Item title -->
    <h1>{{item.name}}</h1>

    <!-- Icons -->
    <div class="icons-wrapper">
    	<a data-ng-click="addToFavourites()"
    	   class="icon-add-favourites">
    		Add to Favourites
    	</a>

    	<a data-ng-if="item.type === 'video'"
    	   data-ng-click="playVideo()" 
    	   class="icon-video">
    		Play video
    	</a>
    	
    	<a data-ng-if="item.type === 'audio'"
    	   data-ng-click="playAudio()" 
    	   class="icon-audio">
    		Play audio
    	</a>
    </div>


</article>